flask==3.0.0
flask-sock==0.7.0
numpy==1.26.0
opencv-python==4.8.0.76
pyvirtualcam==0.13.0
cryptography==41.0.0
websockets==11.0.0
pystray==0.19.0
pillow==10.0.0
pyOpenSSL==23.2.0
simple-websocket==1.0.0
